{{ define "main" }}

<article>
    <style>
        .single-e-magine__header { background-image:url('{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_480/{{ .Params.img }}'); }
        @media screen and (min-width:480px) {
            .single-e-magine__header { background-image:url('{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_768/{{ .Params.img }}'); }
        }
        @media screen and (min-width:768px) {
            .single-e-magine__header { background-image:url('{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_1100/{{ .Params.img }}'); }
        }
        @media screen and (min-width:1100px) {
            .single-e-magine__header { background-image:url('{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_1600/{{ .Params.img }}'); }
        }
        @media screen and (min-width:1600px) {
            .single-e-magine__header { background-image:url('{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_1920/{{ .Params.img }}'); }
        }
    </style>
    <header class="single-e-magine__header">
        <div class="single-e-magine__category">
            <p data-color="{{ range first 1 .Params.categories }}{{ . | plainify | lower }}{{ end}}">
                {{ range first 1 .Params.categories }}{{ . }}{{ end}}
            </p>
        </div>
        <h1 class="single-e-magine__title">{{ .Title }}</h1>
        <picture class="single-e-magine__more-img">
            <source srcset="/assets/img/arrow-down.svg" media="(max-width: 1140px)">
            <img src="/assets/img/arrow-down-long.svg" alt="Faites dérouler pour voir la suite" width="15" height="82">
        </picture>
    </header>
    <time class="single-e-magine__date" datetime="{{ .Date.Format "02-01-06"}}">{{ .Date.Format "02.01.06"}}</time>
    <div class="single-e-magine__content">
        {{ .Content }}
		<br>
		<a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" style="text-decoration: none; padding-right:0">Partager sur Facebook</a>
<!--		<a href="http:/twitter.com/share?text={{.Title}};url={{.Permalink}}" target="_blank" style="text-decoration: none; padding-left:20px">Partager sur Twitter</a>-->
        <p class="single-e-magine__back-to-list">
            <a class="single-e-magine__back-to-list__btn btn btn--reverse" href="/libre-acces">Retour</a>
        </p>
    </div>
</article>

{{ partial "s-abonner.html" . }}

{{ end }}