ul.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: $su*4 auto;
    padding: 0 $su;

    @media screen and (min-width:$bp-l) {
        padding:0 $su*2;
    }

    .page-item {
        margin:$su/2 $su/4;

        &.disabled {

            .page-link {
                opacity:0.6;
                cursor: not-allowed;
            }
        } 

        &.active {

            .page-link {
                background-color: $pink;
                color: $red;
                border: 1px solid $red;
            }
        }
    }

    a.page-link {
        display:block;
        padding:0.35em 0.75em;
        background:$pink;
        font-size: 0.9rem;
        text-decoration: none;
        line-height: 1;
        color:$red;
        border:1px solid transparent;
        transition:border-color 150ms ease-out;

        &:hover, &:focus {
            border-color:$red;
        }

        &:active {
            border-color:transparent
        }
    }
}