<figure class="half-width-img-txt">

INSERER IMAGE ICI (en veillant à garder les passages à la ligne au dessus et en dessous de l'image)

<figcaption>

INSERER LEGENDE ICI (en veillant à garder les passages à la ligne au dessus et en dessous de la légende)

</figcaption>
</figure>