:root {
    --coop: #ee5a24;
    --coopsec: #2f3464;
    --bg: #e8d3d3;
    --highlight: #f44336;
    --bg2: #e8cfaf;
  }

  body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	}


$txt-color: var(--txt-color);
$main: var(--main);
$lightmain: var(--lightmain);
$ultralightmain: var(--ultralightmain);
$turquoise: var(--turquoise);
$yellow: var(--yellow);
$orange: var(--orange);
$pink: var(--pink);
$red: var(--red);
$article-light: var(--article-light);

$su: 20px; // spacing-unit

$mw: 1920px; // max-width
$cw: 1140px; // content max-width
$aw: 1000px; // article-width

$bp-xs: 400px; // breakpoint S
$bp-s: 768px; // breakpoint S
$bp-m: 980px; // breakpoint M
$bp-l: 1140px; // breakpoint L
$bp-xl: 1240px; // breakpoint XL

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ivypresto-display:
 *   - http://typekit.com/eulas/00000000000000007735e5a5
 *   - http://typekit.com/eulas/00000000000000007735e5b2
 *   - http://typekit.com/eulas/00000000000000007735e5b3
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-10-09 13:13:04 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=vnq6dsp&ht=tk&f=45402.45403.45407&a=4937218&app=typekit&e=css");

@font-face {
font-family:"ivypresto-display";
src:url("https://use.typekit.net/af/5bc6b2/00000000000000007735e5a5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),url("https://use.typekit.net/af/5bc6b2/00000000000000007735e5a5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),url("https://use.typekit.net/af/5bc6b2/00000000000000007735e5a5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"ivypresto-display";
src:url("https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff2"),url("https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("woff"),url("https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:100;font-stretch:normal;
}

@font-face {
font-family:"ivypresto-display";
src:url("https://use.typekit.net/af/343df8/00000000000000007735e5b3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/343df8/00000000000000007735e5b3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/343df8/00000000000000007735e5b3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-ivypresto-display { font-family: "ivypresto-display",serif; }

@font-face {
    font-family: 'Object Sans';
    src: url('../assets/fonts/ObjectSans-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@font-face {
    font-family: 'Object Sans';
    src: url('../assets/fonts/ObjectSans-Regular.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@import 
'partials/_reset',
'partials/_mixins',
'partials/_layout',
'partials/_typo',
'partials/_header',
'partials/_nav',
'partials/_footer',
'partials/_tinyslider',
'partials/_home',
'partials/_partials',
'partials/_modules',
'partials/_single',
'partials/_pages',
'partials/_v2',
'partials/_coop';


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.image-trail {
    position: absolute;
    max-width: 100px;
    transform: scale(0);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    z-index:99
}

.image-trail.show {
    transform: scale(1);
    opacity: 1;
}

.image-trail.fade {
    transform: scale(0);
    opacity: 1;
    transition: transform 0.2s ease-in-out, opacity 2s ease-out; 
}


@media screen and (max-width: 1139px) {
.site-nav__checkbox:checked~.site-nav__inner a {
    color:white;
} 
}


section.numero-section-three {
    background: transparent;
}

