
$txt-color: var(--txt-color);
$green: var(--green);
$lightgreen: var(--lightgreen);
$ultralightgreen: var(--ultralightgreen);
$turquoise: var(--turquoise);
$yellow: var(--yellow);
$orange: var(--orange);
$pink: var(--pink);
$red: var(--red);
$article-light: var(--article-light);

$su: 20px; // spacing-unit

$mw: 1920px; // max-width
$cw: 1140px; // content max-width
$aw: 1000px; // article-width

$bp-xs: 400px; // breakpoint S
$bp-s: 768px; // breakpoint S
$bp-m: 980px; // breakpoint M
$bp-l: 1140px; // breakpoint L
$bp-xl: 1240px; // breakpoint XL

@font-face {
    font-family: 'Faible';
    src: url('../assets/fonts/faible-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/faible-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@font-face {
    font-family: 'Faible';
    src: url('../assets/fonts/faible-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/faible-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/subset-PlayfairDisplay-Regular.woff2') format('woff2'),
         url('../assets/fonts/subset-PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@import 
'partials/_reset',
'partials/_mixins',
'partials/_layout',
'partials/_typo',
'partials/_header',
'partials/_nav',
'partials/_footer',
'partials/_tinyslider',
'partials/_home',
'partials/_partials',
'partials/_modules',
'partials/_single',
'partials/_pages';