{{ define "main" }}

<section class="page-header">
    <div class="page-header__title cw">
        <h1>{{ .Title }}</h1>
    </div>
</section>

<section class="list-taxonomy cw">
    <p class="e-magine__articles__page-number"><!--Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}--></p>
    
    <ul class="e-magine__articles__list">
        {{ $paginator := .Paginate .Pages.ByDate.Reverse 6 }}
        {{ range $paginator.Pages }}
            <li>{{ .Render "article" }}</li>
        {{ end }}
    </ul>

    {{/*  {{ template "_internal/pagination.html" . }}  */}}
</section>

{{ partial "s-abonner.html" . }}

{{ end }}