{{ define "main" }}

<section class="page-header">
    <div class="cw">
        <h1 class="page-header__title">{{ .Title }}</h1>
    </div>
</section>

<section class=" section-2-cols">
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col left">
            <img src="{{ .Site.Params.cloudinary_url }}{{ .Params.section_four.img }}" alt="" role="presentation" loading="lazy">
        </div>
        <div class="flex-2-cols__col right">
            <h2 class="section-title">{{ .Params.section_four.section_title }}</h2>
            <h3>{{ .Params.section_four.title | safeHTML }}</h3>
            <p>{{ .Params.section_four.text | safeHTML }}</p>
            <a href="{{ .Params.section_four.btn_link }}" class="btn">{{ .Params.section_four.btn_txt }}</a>
        </div>
    </div>
</section>

<section class="section-2-cols">
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col left">
            <h2 class="section-title">{{ .Params.section_one.section_title }}</h2>
            <h3>{{ .Params.section_one.title | safeHTML }}</h3>
            <p>{{ .Params.section_one.text | safeHTML }}</p>
            <a href="{{ .Params.section_one.btn_link }}" class="btn">{{ .Params.section_one.btn_txt }}</a>
        </div>
        <div class="flex-2-cols__col right">
            <img src="{{ .Site.Params.cloudinary_url }}{{ .Params.section_one.img }}" alt="" role="presentation" loading="lazy">
        </div>
    </div>
</section>

<section class="notre-projet__section-two section-2-cols">
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col left">
            <img src="/images/territoires@2x.png" alt="" role="presentation" loading="lazy">
        </div>
        <div class="flex-2-cols__col right">
            <h2 class="section-title">{{ .Params.section_two.section_title }}</h2>
            <h3>{{ .Params.section_two.title | safeHTML }}</h3>
            <p>{{ .Params.section_two.text | safeHTML }}</p>
            <a href="{{ .Params.section_two.btn_link }}" class="btn">{{ .Params.section_two.btn_txt }}</a>
        </div>
    </div>
</section>

{{/*  <section class="notre-projet__section-three section-2-cols">
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col left">
            <h2 class="section-title">{{ .Params.section_three.section_title }}</h2>
            <h3>{{ .Params.section_three.title | safeHTML }}</h3>
            <p>{{ .Params.section_three.text | safeHTML }}</p>
            <a href="{{ .Params.section_three.btn_link }}" class="btn">{{ .Params.section_three.btn_txt }}</a>
        </div>
        <div class="flex-2-cols__col right">
            <div class="flex-2-cols__img-wrapper">
                <img src="{{ .Site.Params.cloudinary_url }}{{ .Params.section_three.img }}" alt="" role="presentation" loading="lazy">
            </div>
        </div>
    </div>
</section>  */}}



<section class="notre-projet__section-five section-2-cols cw">
    <h2 class="section-title"></h2>
    <h3>{{ .Params.section_five.title | safeHTML }}</h3>
    <ul class="partenaires-list">
        {{ $imgUrl := .Site.Params.cloudinary_url }}
        {{ range .Params.section_five.img_list }}
            <li>
                <a href="{{ .link }}" target="_blank" rel="noopener">
                    <img src="{{ $imgUrl }}f_auto,q_80,w_135,c_limit/{{ .img }}" alt="logo de : {{ .title }}" title="{{ .title }}" loading="lazy">
                </a>
            </li>
        {{ end }}
    </ul>
</section>

{{ partial "s-abonner.html" . }}

{{ end }}