#e-magine-header__slides {
	position: relative;	
    padding-bottom: 3rem;
}

#e-magine-header__slides, #e-magine-header__slides-items .slide-item, figure {
	width: 100%;
	max-width: 100%;
	height: 540px;	
    margin: 0 auto;	
    overflow:hidden;

    @media screen and (min-width:$bp-m) {
        overflow:visible;
    }
}

#e-magine-header__slides-items {
    display:flex;
    overflow:hidden;

    .slide-item {	
    
        img {
            position: absolute;
            right:20%;
        }
    
        figcaption {
            position: absolute;
            top:$su*3;
            left:8%;
            width: 100%;
            max-width: 780px;
            color: white;	
                    
            a {
                color: white;
                text-decoration: none;
            }
            
            small {
                font-size: 1.2rem;
                font-weight: bold;
                color:$turquoise;
            }
            
            h3 {
                font-size: 4.5rem;
                line-height: 1;
                margin:0;
            }
        }
    }
}

/* CSS Transition */
#e-magine-header__slides-items .slide--active {
	opacity: 1;
	transition: opacity 3s;
	visibility: visible;
}
#e-magine-header__slides-items .slide-item:not(.slide--active) {
	opacity: 0;
	transition: opacity 5s;
	visibility: hidden;
}

/* Control Buttons */
.e-magine-header__slides-control__btn {
    position:absolute;
    z-index: 1;
    background:none;
    border:none;
    padding:20px;

    &:hover, &:focus {
        cursor:pointer;
    }
    
    &--prev, &--next {
		top: calc(50% - 3rem);
		padding: 0.6rem;
    }
    
	&--prev {
		left:$su*3;	
		border-radius: 0px 7px 7px 0px;
    }
    
	&--next {
		right:$su*3;
		border-radius: 7px 0px 0px 7px;
    }

    svg {
        fill:white;
    }
    
    .confluents & {
        
        .slides-control__btn--next {

            svg {
                fill: $green;
            }
        }
    }
}

.e-magine-header__slides-dots { 
    display:flex;
    position: absolute;
    right:$su*4;
	bottom: -($su*4);
    width:184px;
    height:14px;
    z-index: 1;

    svg {
        width: 14px;
        height: 14px;
        fill: white;
        position: absolute;
        top:0;
        left:0;
    }
    
	button {
        position: relative;
        background:transparent;
        border:none;
        width:14px;
        height:14px;
        margin-right:$su;
        padding:0;

        &:last-of-type {
            margin-right: 0;
        }
        
		&:hover, &:focus, &:active, &[aria-selected="true"] {
            cursor:pointer;

            svg g {
				fill: $green;
			}
		}
	}
}

.e-magine__list-taxo {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    margin:$su*2 0;
    padding:0;
    
    @media screen and (min-width:$bp-s) {
        margin:$su*5 0 $su*3;
    }

    a.btn {
        margin:0 $su/2 $su/2 0;
        border:1px solid transparent;
        font-size: 0.9rem;
        text-transform: uppercase;
        
        @media screen and (min-width:$bp-s) {
            margin:0 $su $su 0;
        }

        &:hover, &:focus {
            border:1px solid $txt-color;
            color:$txt-color;
        }

        &:active {
            border-color:transparent;
            color:white;
        }
    }
}

.e-magine__articles__list {
    list-style:none;
    margin:0;
    padding:0;
    
    @media screen and (min-width:$bp-s) {
        
        li:nth-child(even) {
            
            .e-magine__article {
    
                &__col.right {
                    order:-1;
                }

                &__col.left {
                    margin-right:0;
                    margin-left:$su*2;
                }
            }
        }
    }
}

.e-magine__article {
    margin-bottom:$su*4;

    &__col.left {
        display:block;
        position:relative;
    }

    &__col.right {

        * + * {
            margin-top:0;
            margin-bottom:$su;
        }
    }

    @media screen and (min-width:$bp-s) {
        display:flex;
        margin-bottom:$su*4;

        &__col {
            width:50%;

            &.left {
                margin-right:$su*2;
            }
        }
    }

}

.e-magine__article__category {
    position: absolute;
    top:$su*2;
    left:0;
    padding:.5em 1.75em;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    font-size: 0.9rem;
}

.e-magine__article__img{
    width:100%;
    height:auto;
}

.e-magine__article__date {
    display:block;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top:$su/2;
    margin-bottom:$su;
}

.e-magine__article__title-link {
    color:$txt-color;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }

    &:active {
        text-decoration: none;
    }
}

.e-magine__article__title {
    font-size: 1.6rem;
    margin:0 0 $su 0;
}

.e-magine__article__description {
    font-size: 1.2rem;
}