.numero-en-cours {

    .site-header__subscribe {
        
        @media screen and (min-width:$bp-l) {
            border:2px solid white;
            
            &:hover, &:focus {
                border-color:transparent;
            }
        }
    }
}

.numero-header {
    position: relative;
    z-index:40;

    @media screen and (min-width:$bp-l) {
        display: flex;
        justify-content: center;
    }
    
    &--top {
        padding-top: $su*7;
        background: linear-gradient(
            180deg,
            $green 0%,
            $green 35%,
            white 35%,
            white 100%
        );
        background-position: 0 0;
        background-repeat: no-repeat;
        
        @media screen and (min-width:$bp-l) {
            background-color: $green;
            background-image: none;
        }

        .numero-header__left {
    
            @media screen and (min-width:$bp-l) {
        
                img {
                    position: absolute;
                }
            }
        }

        .numero-header__right {
            
            @media screen and (min-width:$bp-l) {
                padding-top:$su*5;
            }
        }
    }

    &--bottom {
        padding-bottom:$su*3;
        
        .numero-header__left {
            display:none;
            
            @media screen and (min-width:$bp-l) {
                display:block;
                padding-bottom:$su*7;
            }
        }
    }
}

.numero-header__left {
    display:block;
    position: relative;
    width:100%;
    padding:$su;
    text-align: center;
    
    @media screen and (min-width:$bp-l) {
        width:673px;
        padding:0;
        text-align: left;
    }
}

.numero-header__right {
    padding:0 $su;
    max-width: 28em;

    @media screen and (min-width:$bp-l) {
        width:40%;
        max-width: 500px;
        padding-left:0;

        .page-header__title {

            h1 {
                margin-bottom:$su*2;
            }
        }
    }
}

.numero-header__numero {
    color:$turquoise;
}

.page-header__title .numero-header__title {
    color:$txt-color;

    @media screen and (min-width:$bp-l) {
        color:white;
    }
}

.numero-section-one {
    padding-top:$su*3;
    padding-bottom:$su*3;

    @media screen and (min-width:$bp-l) {
        padding-top:$su*5;
        padding-bottom:$su*5;
    }
}

.numero-section-one__title {
    font-size:2.4rem;

    @media screen and (min-width:$bp-l) {
        font-size:3.6rem;
    }
}

.numero-section-two {
    position: relative;
    padding:$su*6 0 $su*3;
    
    .section-title {
        color:$yellow;
        
        @media screen and (min-width:$bp-xl) {
            padding:$su*10 0 $su*5;
            min-height: 12em;
        }
    }
}

.numero-section-two__title {
    font-size: 2.4rem;
        
    @media screen and (min-width:$bp-xl) {
        font-size: 3rem;
    }
}

.numero-section-two__tabs {
    position:relative;

    @media screen and (min-width:$bp-s) {
        display:flex;
    }
}

.numero-section-two__tabs__left {
    display:flex;
    flex-wrap: wrap;
    align-items:baseline;
    margin-right:$su;
    min-width:10em;
    
    @media screen and (min-width:$bp-s) {
        flex-direction:column;
    }
}

.numero-section-two__tab__img {
    display:none;
    width:500px;
    height:auto;

    @media screen and (min-width:$bp-s) {
        position: absolute;
        left: -400px;
        top: -160px;
        z-index:1;

        &.selected {
            display:block;
        }
    }

    @media screen and (min-width:$bp-l) {
        left: -310px;
        top: -250px;
    }
}

.numero-section-two__tab__btn {
    display:block;
    position: relative;
    padding:0.5em 1.5em 0.5em 0; 
    color:$txt-color;
    text-decoration: none;
    text-align: left;
    z-index:2;
    transition:transform 100ms ease-out, color 100ms ease-out;
    
    &:hover, &:focus, &.selected {
        cursor:pointer;
        color: $orange;

        @media screen and (min-width:$bp-s) {
            transform:translateX(5px);
        }
    }
    
    &:first-of-type {
        margin-top:$su/2;
    }
    
    h4 {
        @include ff-r;
        font-weight: bold;
        margin:0;
        padding:0;
    }
}

.numero-section-two__tab__content {
    display:none;

    &:first-of-type {
        display:block;
    }
}

.numero-section-two__tab__title {
    font-size:2.4rem;
    margin-top:$su;
    
    @media screen and (min-width:$bp-s) {
        margin-top:0;
    }
}

.numero-section-three {
    position: relative;
    padding:$su*5 0;
    overflow: hidden;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*5 0 0 $su*5;
        background: linear-gradient(
            180deg,
            white 0%,
            white 40%,
            $pink 40%,
            $pink 100%
        );
        background-position: 0 $su*16;
        background-repeat: no-repeat;
    }

    .section-title {
        color:$red;
        margin-left: $su;
        
        @media screen and (min-width:$bp-l) {
            margin-left: $su*2;
        }

        @media screen and (min-width:$bp-xl) {
            margin-left:0;
        }
    }

    .numero-section-three__title {
        margin-top:0;
        margin-left:$su;
        font-size: 2.4rem;
        
        @media screen and (min-width:$bp-l) {
            font-size: 3rem;
            margin-left:$su*2;
        }
    }

    .slider__controls {
        display:flex !important;
        margin-left:$su;

        @media screen and (min-width:$bp-l) {
            margin-left:$su*2;
        }
    }

    .slider__list {
        padding-top:$su*4;
        margin-left:$su;

        @media screen and (min-width:$bp-l) {
            margin-left:$su*2;
        }
    }

    #tns1-iw {
        margin:0;
    }

    #tns1 > .tns-item {
        //min-width:70vw;
        
        @media screen and (min-width:$bp-l) {
            min-width:1px;
        }
    }

    #tns1-ow.tns-outer {

        @media screen and (min-width:$bp-l) {
            margin-left:$su;
        }
    }
}
