.notre-projet__header__title {
    padding:0 $su $su*3.5 $su;  

    @media screen and (min-width:$bp-s) {
        padding:0 $su*2 $su*3.5 $su*2; 
        
        h1 {
            max-width: 6em;
        }
    }

    @media screen and (min-width:$bp-l) {
        padding:0 0 $su*3.5 $su*2; 
        
        h1 {
            max-width: 8em;
        }
    }
}

.notre-projet__section-one {
    position: relative;
    padding:0 0 0 $su;
    z-index:45;

    @media screen and (max-width:($bp-s - 1)) {
        top:-$su*5;
    }
    
    @media screen and (min-width:$bp-s) {
        padding:$su*5 $su*2 0 $su*2;
    }

    .section-title {
        color:$green;

        @media screen and (max-width:($bp-s - 1)) {
            display: none;
        }
    }

    .flex-2-cols {
        
        @media screen and (min-width:$bp-s) {
            max-height:520px;
        }
    }

    .flex-2-cols__col.left {
        padding-right: $su;

        @media screen and (max-width:($bp-s - 1)) {
            order:1;
        }

        @media screen and (min-width:$bp-l) {
            padding-left:$su*2;
            margin-right:0;
			padding-right:0;
        }
    }

    .flex-2-cols__col.right {
        
        @media screen and (max-width:($bp-s - 1)) {
            max-width: 80%;
            margin-left:auto;
            margin-bottom:$su;
            text-align: right;
        }

        @media screen and (min-width:$bp-s) {
            transform:translateY(-$su*12);
        }

        @media screen and (min-width:$bp-l) {
            transform:translate($su*8,-$su*9);
        }
    }
}

.notre-projet__section-two {
    position:relative;
    padding: 0 $su $su*2 $su;

    .section-title {
        color:$green;
    }
}

.notre-projet__section-three {
    position:relative;
    padding:$su*2 0;
    overflow:hidden;

    @media screen and (min-width:$bp-l) {
        padding:$su*5 0;
    }

    .section-title {
        color:$green;

        @media screen and (max-width:($bp-l - 1)) {
            margin-left:$su*2;
        }
    }

    .flex-2-cols__col.left {
        order:1;
        margin-top:$su*2.5;
        padding:0 $su;
    }

    .flex-2-cols__col.right {
        position:relative;
        text-align:right;
        margin-top:0;

        .flex-2-cols__img-wrapper {
            max-width: 90%;
            margin-left:10%;
            
            &:after {
                content:'';
                background-color:$yellow;
                width:100%;
                height:100%;
                position: absolute;
                right:-$su*4;
                bottom:-$su;
                z-index:-1;
            }
        }

        img {
            width:100%;
        }
    }

    @media screen and (min-width:$bp-s) {

        .flex-2-cols {
            flex-wrap: nowrap;
        }
    
        .flex-2-cols__col.left {
            position:absolute;
            z-index:2;
            width:100%;
            min-width: 60vw;
            max-width: 37%;
            margin-top:$su;
            padding:0 0 0 $su*2;
        }
    
        .flex-2-cols__col.right {
            width:60%;
            min-width: 60vw;
            margin-left:auto;
            text-align: left;

            .flex-2-cols__img-wrapper {
                max-width: 100%;
                margin-left:0;

                &:after {
                    right:-$su*2;
                    bottom:-$su*2;
                }
            }
        }
    }

    @media screen and (min-width:$bp-l) {
    
        .flex-2-cols__col.left {
            min-width: auto;
            max-width: 620px;
            padding:0 0 0 $su*4;
        }
    
        .flex-2-cols__col.right {
            width:60%;
            min-width: auto;
        }
    }

    @media screen and (min-width:1400px) {
    
        .flex-2-cols__col.left {
            padding:0;
        }
    }

}

.notre-projet__section-four {
    padding:$su*2 0;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*5 0;
    }

    .section-title {
        color:$green;
    }

    .flex-2-cols {
        margin-left:0;

        @media screen and (min-width:$bp-l) {
            margin-left:auto;
        }
    }

    .flex-2-cols__col.right {
        padding:0 $su;
    }

    .flex-2-cols__col.left {
        
        @media screen and (max-width:($bp-s - 1)) {
            padding-right:$su*2;
        }
    }
}

.notre-projet__section-five {
    padding:$su*2 $su;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*5 $su*2;
    }

    .partenaires-list {
        list-style:none;
        display:flex;
        flex-wrap: wrap;
		margin-top: 4em;
        margin-left:0;
        padding-left:0;
		justify-content: space-between;

        li {
            margin:$su/2;
        }

        a {
            display:block;
            transform: scale(1);
            transition:transform 150ms ease-out;

            &:hover, &:focus {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }
        }
    }
}

.notre-projet__section-six {
    position: relative;
    padding:$su*5 0;
    margin-right: 0;
    overflow: hidden;
    background: linear-gradient(
        180deg,
        white 0%,
        white 50%,
        $pink 50%,
        $pink 100%
        );
    background-position: 0 50%;
    background-repeat: no-repeat;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*5 0 $su*3 $su*5;
    }

    h3 {
        margin-left:$su;
    }

    .slider__controls {
        margin-left:$su;
    
        @media screen and (min-width:$bp-l) {
            margin-left:$su;
        }
    }

    #tns1-ow.tns-outer {
        margin-left:0;
    }

    .slider__date {
        display:inline-block;
    }

    .slider__origin {
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}