<article class="e-magine__article">
    <a class="e-magine__article__col left" href="{{ .Permalink }}">
        {{ $cat := .Params.cat }}
        {{ with $.Site.GetPage "categories" }}
            {{ with (index (.Resources.Match $cat) 0) }}
                <span class="e-magine__article__category" style="background-color:{{ .Params.color }}">
                    {{ .Params.title_humans }}
                </span>
            {{ end }}
        {{ end }}
        <img class="e-magine__article__img" src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_427,c_fill,ar_1.548/{{ .Params.img }}" loading="lazy">
    </a>
    <div class="e-magine__article__col right">
        <time class="e-magine__article__date" datetime="{{ .Date.Format "02-01-06"}}">{{ .Date.Format "02.01.06"}}</time>
        <a class="e-magine__article__title-link" href="{{ .Permalink }}">
            <h2 class="e-magine__article__title">{{ .Title }}</h2>
        </a>
        <p class="e-magine__article__description">{{ .Params.description | markdownify | truncate 240 }}</p>
        <a class="e-magine__article__link btn" href="{{ .Permalink }}" class="btn">Lire plus</a>
    </div>
</article>