<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="{{ .Site.LanguageCode }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/assets/fonts/faible-regular-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/faible-bold-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/subset-PlayfairDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Params.Title }}{{ . }}{{ end }} | {{ with .Params.categories }}{{ range first 1 . }}{{ . }}{{ end}} | {{ end }}{{ .Site.Title }}{{ end }}
    </title>
    <meta name="description" content="{{- with .Content -}}{{- . | truncate 158 -}}{{- else -}}{{- .Site.Data.infos.description -}}{{- end -}}" />
    <meta property="og:type" content="website" />
  	<meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Params.Title }}{{ . }}{{ end }} | {{ with .Params.categories }}{{ range first 1 . }}{{ . }}{{ end}} | {{ end }}{{ .Site.Title }}{{ end }}" />
    <meta property="og:description" content='{{ with .Content }}{{ . | truncate 158 }}{{ else }}{{ .Site.Data.infos.description }}{{ end }}' />
    <!-- <meta property="og:image" content="{{ .Site.BaseURL }}assets/upload" /> -->
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <style>
      :root{
        {{- range .Site.Data.colors }}
          --{{ .name }}: {{ .color }};
        {{- end }}
      }
    </style>
    {{ if or (.IsHome) (eq .Page.Params.class "imagine-2020") }}<link rel="stylesheet" href="/assets/css/tinyslider.css">{{ end }}
    {{- $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
    {{ partial "site-favicon.html" . }}
  </head>
	<body id="root" class="{{ with .Page.Params.class }}{{ . }}{{ end }}">
    <a class="hide skip-to-content" href="#site-main">Aller directement vers le contenu</a>
    <div class="site-wrapper">
      {{ partial "site-header.html" . }}
      <main id="site-main" class="site-main">{{ block "main" . }}{{ end }}</main>
      {{ partial "site-footer.html" . }}
    </div>
    {{ partial "site-scripts.html" . }}
    </body>
</html>
