<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="{{ .Site.LanguageCode }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="4XkYQRR9B8_Wwie9AzAd6bSDISQZbf0ofM7pdQeCsiY" />
    <link rel="preload" href="/assets/fonts/faible-regular-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/faible-bold-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/subset-PlayfairDisplay-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Params.Title }}{{ . }}{{ end }} | {{ with .Params.categories }}{{ range first 1 . }}{{ . }}{{ end}} | {{ end }}{{ .Site.Title }}{{ end }}
    </title>
    <meta property="og:type" content="website" />
  	<meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Params.Title }}{{ . }}{{ end }} | {{ with .Params.categories }}{{ range first 1 . }}{{ . }}{{ end}} | {{ end }}{{ .Site.Title }}{{ end }}" />
    <meta property="og:description" content='
    {{ with .Params.meta_txt }}
        {{ . }}
    {{ else }}
        {{ with .Content }}
            {{ . | truncate 158 }}
        {{ else }}
            {{ .Site.Data.infos.description }}
        {{ end }}
    {{ end }}' />

    <meta property="og:image" content="
    {{ if eq .Params.class "single-e-magine" }}
        {{ .Site.Params.cloudinary_url }}f_auto,q_80,w_1200,h_630,c_fit/{{ .Params.img }}
    {{ else if eq .Params.class "coopz" }}
        {{ .Site.Params.cloudinary_url }}f_auto,q_80,w_1200,h_630,c_fit/{{ .Params.meta_img }}
    {{ else }}
        https://res.cloudinary.com/drg3m95yg/image/upload/v1591336459/og-image_qdvisr.jpg
    {{ end }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <style>:root{ {{- range .Site.Data.colors }}--{{ .name }}: {{ .color }};{{- end }} }</style>
    {{- $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
    {{ partial "site-favicon.html" . }}
  </head>
	<body id="root" class="v2 {{ with .Page.Params.class }}{{ . }}{{ end }}{{ if eq .Type "categories" }} categories-list{{ end }} ">
        <img src="https://res.cloudinary.com/dbftnu0ia/image/upload/f_auto,q_60,w_400,e_grayscale/v1696886199/bg-up3_kxytkv.jpg" alt="" class="bg-tests" style="pointer-events:none">
            <a class="hide skip-to-content" href="#site-main">Aller directement vers le contenu</a>
    <div class="site-wrapper v2">
      {{ partial "site-header.html" . }}
      <main id="site-main" class="site-main">{{ block "main" . }}{{ end }}</main>
      {{ partial "site-footer.html" . }}
    </div>
    {{ partial "site-scripts.html" . }}
    </body>
</html>
