<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="language" content="{{ .Site.LanguageCode }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{/*  <link rel="preload" href="/assets/fonts/volte-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/hwtartz-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">  */}}
    <title>
      {{ .Site.Title }}
    </title>
    <meta name="description" content="{{- with .Content -}}{{- . | truncate 158 -}}{{- else -}}{{- .Site.Data.infos.description -}}{{- end -}}" />
    <meta property="og:type" content="website" />
  	<meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Site.Title }}{{ with .Params.categories }} | {{ . }}{{ end }}{{ with .Params.Title }} | {{ . }}{{ end }}" />
    <meta property="og:description" content='{{ with .Content }}{{ . | truncate 158 }}{{ else }}{{ .Site.Data.infos.description }}{{ end }}' />
    <!-- <meta property="og:image" content="{{ .Site.BaseURL }}assets/upload" /> -->
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{- if .IsHome }}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">{{ end }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
    {{ partial "site-favicon.html" . }}
  </head>
	<body id="root" class="{{ with .IsHome }}home{{ end }}{{ with .Page.Params.class }} {{ . }}{{ end }}">
    <a class="hide skip-to-content" href="#site-main">Aller directement vers le contenu</a>
    <div class="site-wrapper">
      {{ partial "site-header.html" .}}
      <main id="site-main" class="site-main">{{ block "main" . }}{{ end }}</main>
      {{ partial "site-footer.html" . }}
    </div>
    {{ partial "site-scripts.html" . }}
    </body>
</html>
