{{ define "main" }}

<section class="e-magine__header page-header">
    <div class="e-magine__header__inner cw">
        <div class="page-header__title">
            <h1><small>{{ .Params.subtitle }}</small><br>{{ .Title}}</h1>
        </div>
        <ul class="e-magine__list-taxo">
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                {{ range $key, $value := $taxonomy }}
                    <li>
                        <a class="btn btn--square" href="/{{ $taxonomyname }}/{{ $key | urlize }}" data-color="{{ $key | plainify | lower }}">{{ trim $key "[]" }}</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</section>

<section class="e-magine__articles cw">
    <p class="e-magine__articles__page-number">Page {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</h1></p>

    <ul class="e-magine__articles__list">
        {{ $paginator := .Paginate .Pages.ByDate.Reverse 6 }}
        {{ range $paginator.Pages }}
            <li>{{ .Render "article" }}</li>
        {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
</section>  

{{ partial "s-abonner.html" . }}

{{ end }}