{{ define "main" }}

<article>
    <header class="single-e-magine__header" style="background-image:url('{{ .Site.BaseURL }}/assets/img/{{ .Params.img }}')">
        <div class="single-e-magine__category">
            <p class="" data-color="{{ .Params.categories | plainify | lower }}">{{ .Params.categories }}</p>
        </div>
        <h1 class="single-e-magine__title">{{ .Title }}</h1>
    </header>
    <time class="single-e-magine__date" datetime="{{ .Date.Format "02-01-06"}}">{{ .Date.Format "02.01.06"}}</time>
    <div class="single-e-magine__content">
        {{ .Content }}
        <p class="single-e-magine__back-to-list">
            <a class="single-e-magine__back-to-list__btn btn btn--reverse" href="/e-magine">Retour</a></p>
    </div>
</article>

{{ partial "s-abonner.html" . }}

{{ end }}