{{ define "main" }}
<div class="coop">
<section class="notre-projet__header page-header" style="background-image: url({{.Params.hero_img}});">
    <div class="notre-projet__header__title page-header__title cw">
        <h1>{{ .Title }}</h1>
    </div>
</section>


<section class="section-2-cols what">
    <div class="cw">
        <div class="">
            <h3>{{ .Params.section_one.title | safeHTML }}</h3>
            <ul>
                {{ range .Params.section_one.list }}
                <li>{{.text | markdownify}}
                </li>
                {{ end}}
            </ul>

            {{/*  <a href="{{ .Params.section_one.btn_link }}" class="btn">{{ .Params.section_one.btn_txt }}</a>  */}}
        </div>
{{/*          <div class="flex-2-cols__col right">
        </div>  */}}
    </div>
</section>
{{partial "cta.html" .}}

<section class="section-2-cols reasons">
    <div class="cw">
        <div class="">
            <h3>{{ .Params.section_two.title | safeHTML }}</h3>
            <ol>
                {{ range .Params.section_two.list }}
                <li>{{.text | markdownify}}
                </li>
                {{ end}}
            </ol>

            {{/*  <a href="{{ .Params.section_one.btn_link }}" class="btn">{{ .Params.section_one.btn_txt }}</a>  */}}
        </div>
{{/*          <div class="flex-2-cols__col right">
        </div>  */}}
    </div>
</section>

<section class="vid">
    <div class="cw">
        <div class="vid-container">
            <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
            </a>
        </div>
    </div>
</section>

<section class="coop-team" style="background: rgb(255, 248, 248);padding-top: 13rem;" >
    <div class="cw">
    <h2>
        Notre équipe
    </h2>
<div class="gallery">
{{ $img_path := .Site.Params.cloudinary_url }}
{{ range .Params.team.members }}
<div class="team-member">
    <div class="team-member__photo">
        {{ if or (.photo) (ne .photo "") }}<img src="{{ $img_path }}f_auto,q_80,w_200/{{ .photo }}" alt="Photo de {{ .name }}" loading="lazy" width="200" height="200">{{ end }}
    </div>
    <div class="team-member__text">
        <p class="team-member__name-job"><strong>{{ .name }}, {{ .job | markdownify }}</strong></p>
    </div>
</div>
{{ end }}
</div>
</div>
</section>





<section class="main-content aw">
    {{ .Content }}
</section>
{{ partial "s-abonner.html" . }}
</div>
{{ end }}