<div class="e-magine-slider__controls" style="display:none;">
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="8.334" height="16.159" viewBox="0 0 8.334 16.159"><path d="M937,1438.5l6.254,7.246L937,1453.371" transform="translate(944.561 1454.006)rotate(180)" fill="none" stroke="#9D9D9D" stroke-width="2"></path></svg>
    </button>
    <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="8.334" height="16.159" viewBox="0 0 8.334 16.159"><path d="M937,1438.5l6.254,7.246L937,1453.371" transform="translate(-936.227 -1437.847)" fill="none" stroke="#9D9D9D" stroke-width="2"></path></svg>
    </button>
</div>
<ul class="e-magine-slider">
    <li>
        <a href="#">
            <article>
                <span class="e-magine-slider__category yellow">Article</span>
                <img class="e-magine-slider__img" src="{{ .Site.BaseURL }}/assets/img/andreas-gucklhorn.jpg" alt="">
                <time class="e-magine-slider__date">26.04</time>
                <h3 class="e-magine-slider__title">Titre du contenu/article online </h3>
                <p class="e-magine-slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </article>
        </a>
    </li>
    <li>
        <a href="#">
            <article>
                <span class="e-magine-slider__category green">Vidéo</span>
                <img class="e-magine-slider__img" src="{{ .Site.BaseURL }}/assets/img/06Marikana.jpg" alt="">
                <time class="e-magine-slider__date">26.04</time>
                <h3 class="e-magine-slider__title">Titre du contenu/article online </h3>
                <p class="e-magine-slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </article>
        </a>
    </li>
    <li>
        <a href="#">
            <article>
                <span class="e-magine-slider__category pink">Podcast</span>
                <img class="e-magine-slider__img" src="{{ .Site.BaseURL }}/assets/img/epiceriesociale.jpg" alt="">
                <time class="e-magine-slider__date">26.04</time>
                <h3 class="e-magine-slider__title">Titre du contenu/article online </h3>
                <p class="e-magine-slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </article>
        </a>
    </li>
    <li>
        <a href="#">
            <article>
                <span class="e-magine-slider__category yellow">Article</span>
                <img class="e-magine-slider__img" src="{{ .Site.BaseURL }}/assets/img/andreas-gucklhorn.jpg" alt="">
                <time class="e-magine-slider__date">26.04</time>
                <h3 class="e-magine-slider__title">Titre du contenu/article online </h3>
                <p class="e-magine-slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </article>
        </a>
    </li>
    <li>
        <a href="#">
            <article>
                <span class="e-magine-slider__category green">Vidéo</span>
                <img class="e-magine-slider__img" src="{{ .Site.BaseURL }}/assets/img/06Marikana.jpg" alt=""></a>
                <time class="e-magine-slider__date">26.04</time>
                <h3 class="e-magine-slider__title">Titre du contenu/article online </h3>
                <p class="e-magine-slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </article>
        </a>
    </li>
    <li>
        <a href="#">
            <article>
                <span class="e-magine-slider__category pink">Podcast</span>
                <img class="e-magine-slider__img" src="{{ .Site.BaseURL }}/assets/img/epiceriesociale.jpg" alt="">
                <time class="e-magine-slider__date">26.04</time>
                <h3 class="e-magine-slider__title">Titre du contenu/article online </h3>
                <p class="e-magine-slider__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            </article>
        </a>
    </li>
</ul>
<noscript>
    <style>
        .e-magine-slider {
            display:flex;
            overflow:auto;
        }
        .e-magine-slider li {
            list-style: none;
            margin:0;
            min-width: 33.333%;
        }
    </style>
</noscript>