{{if .IsHome}}
<a class="top-bar" href="/coop/rejoindre">
		
		<p>
			<span>Prenez part à</span> {{ partial "coop-logo.html" . }}<span>, devenez dès maintenant <strong>coopérateurs·trices</strong> !</span>

		</p>

	
</a>

{{ end }}
<header class="site-header" {{if .IsHome}}style="top:8.5rem"{{end}}>
	<a class="site-logo" href="{{ .Site.BaseURL }}">
		<img src="/assets/img/imagine-logo.svg" alt="Logo d'Imagine magazine" title="{{ .Site.Title }}" width="258"
			height="76">
	</a>

	<nav class="site-nav">
		<input class="site-nav__checkbox" type="checkbox" />
		<button class="site-nav__button" aria-expanded="false" title="Ouvrir ou fermer le menu principal">
			<svg class="site-nav__button__open" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 40 30"
				width="40px" height="30px" xml:space="preserve">
				<style>
					.nav-btn-0 {
						fill: none;
						stroke: #fff;
						stroke-width: 4.2467;
						stroke-linecap: round
					}
				</style>
				<path id="Tracé_162" class="nav-btn-0" d="M3.9 5H36" />
				<path id="Tracé_163" class="nav-btn-0" d="M3.9 15.2H36" />
				<path id="Tracé_164" class="nav-btn-0" d="M15 25.3h20.6" />
			</svg>
			<svg class="site-nav__button__close" xmlns="http://www.w3.org/2000/svg" width="21.533" height="21.533"
				viewBox="0 0 21.533 21.533">
				<g fill="none" stroke="#fff" stroke-linecap="round" stroke-width="3">
					<path data-name="Tracé 108" d="M2.121 2.122l17.29 17.29" />
					<path data-name="Tracé 109" d="M2.121 19.412l17.29-17.29" />
				</g>
			</svg>
		</button>
		<div class="site-nav__inner">
			<ul class="site-nav__list">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
				<li>
					<a class="site-nav__link{{ if in $currentPage.RelPermalink .URL }} active{{ end }}"
						href="{{ .URL }}">{{ .Name | safeHTML }}</a>
				</li>
				{{ end }}
			</ul>
			<a class="site-nav__list__subscribe_btn" href="https://kiosque.imagine-magazine.com/" target="_blank"
				rel="noopener">Je m'abonne</a>
		</div>
	</nav>
	<a class="site-header__subscribe btn btn--square btn--green" href="https://kiosque.imagine-magazine.com/"
		target="_blank" rel="noopener">Je m'abonne</a>
</header>