<!-- {{ $nav := resources.Get "js/nav.js" }}
{{ $navPublic := $nav | resources.Minify | resources.Fingerprint }}
<script src="{{ $navPublic.Permalink }}"></script> -->

<script>
    var navBtnOpen=document.querySelector(".site-nav__button"),navCheckbox=document.querySelector(".site-nav__checkbox"),openNav=function(){document.body.classList.add("nav-opened"),navBtnOpen.setAttribute("aria-expanded",!0)},closeNav=function(){document.body.classList.remove("nav-opened"),navBtnOpen.setAttribute("aria-expanded",!1)},toggleNav=function(){0==navCheckbox.checked?(navCheckbox.checked=!0,openNav()):(navCheckbox.checked=!1,closeNav())};navBtnOpen.addEventListener("click",toggleNav),navCheckbox.addEventListener("change",function(){1==navCheckbox.checked?openNav():closeNav()}),document.addEventListener("keydown",function(e){27==e.keyCode&&closeNav()});
</script>

<script>
// add target blank to archives link
for(var navLinks=document.querySelectorAll(".site-nav__link"),i=0;i<navLinks.length;i++)"Archives"==navLinks[i].innerText&&(navLinks[i].setAttribute("target","_blank"),navLinks[i].setAttribute("rel","noopener"));
</script>

<script src="/assets/js/tinyslider.js"></script>

<script>
    // slider init
    var sliderControlsContainer=document.querySelector(".slider__controls"),slider=tns({container:".slider__list",items:1,gutter:10,arrowKeys:!0,mouseDrag:!0,controlsContainer:sliderControlsContainer,responsive:{480:{items:2,gutter:20},768:{items:3},1280:{gutter:40},1600:{items:4}}});
</script>

{{ if eq .Params.class "numero-en-cours" }}
    {{ $tabs := resources.Get "js/tabs.js" }}
    {{ $tabsPublic := $tabs | resources.Minify | resources.Fingerprint }}
    <script src="{{ $tabsPublic.Permalink }}"></script>
    <script>
        // other slider init
        var numeroSliderControlsContainer=document.querySelector(".slider__controls"),numeroSlider=tns({container:".numero-slider",items:1,gutter:10,arrowKeys:!0,mouseDrag:!0,controlsContainer:numeroSliderControlsContainer,responsive:{480:{gutter:20},768:{items:2},1280:{gutter:40},1600:{items:3}}});
    </script>
{{ end }}

<script type="text/javascript">
    /MSIE \d|Trident.*rv:/.test(navigator.userAgent)&&(document.write('<script src="/assets/js/css-vars-ponyfill.js"><\/script>'),cssVars({rootElement:document,shadowDOM:!1,include:"link[rel=stylesheet],style",exclude:"",variables:{},onlyLegacy:!0,preserveStatic:!0,preserveVars:!1,silent:!1,updateDOM:!0,updateURLs:!0,watch:!1}));
</script>