{{ $nav := resources.Get "js/nav.js" }}
{{ $navPublic := $nav | resources.Minify | resources.Fingerprint }}
<script src="{{ $navPublic.Permalink }}"></script>

<script src="/assets/js/tinyslider.js"></script>
{{ $tinySliderOptions := resources.Get "js/tinySliderOptions.js" }}
{{ $tinySliderOptionsPublic := $tinySliderOptions | resources.Minify | resources.Fingerprint }}
<script src="{{ $tinySliderOptionsPublic.Permalink }}"></script>

{{ if eq .Params.class "numero-en-cours" }}
    {{ $tabs := resources.Get "js/tabs.js" }}
    {{ $tabsPublic := $tabs | resources.Minify | resources.Fingerprint }}
    <script src="{{ $tabsPublic.Permalink }}"></script>
{{ end }}

{{ if or (.IsHome) (eq .Params.class "numero-en-cours") }}
<script>
    // Cover hover 
    var coverEl = document.getElementById('cover');
    coverEl.onmouseenter = function () {
        coverEl.src = "{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_673/" + backcover;
    }
    coverEl.onmouseleave = function () {
        coverEl.src = "{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_673/" + cover;
    }
</script>
{{ end }}

<script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
        document.write('<script src="/assets/js/css-vars-ponyfill.js"><\/script>');
        // Default values
        cssVars({
            // Targets
            rootElement   : document,
            shadowDOM     : false,
        
            // Sources
            include       : 'link[rel=stylesheet],style',
            exclude       : '',
            variables     : {},
        
            // Options
            onlyLegacy    : true,
            preserveStatic: true,
            preserveVars  : false,
            silent        : false,
            updateDOM     : true,
            updateURLs    : true,
            watch         : false
        });
    }
</script>