{{ define "main" }}
<section class="home-header page-header home">
    {{ $header_title := .Params.header_title }}
    {{ $header_text := .Params.header_text }}
        <div class="cw">
            <div class="home-header__content">
                <p class="home-header__numero"><strong>n°160</strong> / Avril-Mai-Juin 2024</p>
                <h1 class="home-header__title page-header__title">Clarifier les faits, <br><em>libérer
                    les idées</em><br> et les esprits</h1>
                <p class="home-header__short-description">{{ $header_text | markdownify }}</p>
            </div>
</section>
<section class="marquee">
    <div class="marquee-content">
        <div class="image-gallery">
            {{ range .Params.carousel }}
            <img src="https://res.cloudinary.com/drg3m95yg/image/upload/f_auto,q_80,w_320/{{ .img }}">
            {{ end }}
        </div>
    </div>
</section>
<section class="home-section-one section-2-cols">
    {{ range first 1 (where $.Site.RegularPages.ByDate.Reverse "Section" "numeros") }}
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col">
            <a class="home-header__img" href="/numero-en-cours">
                <img 
                id="cover"
                src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_673/{{ .Params.cover }}"
                width="673"
                height="872"
                alt="Couverture du numéro {{ .Params.num }}">
                <script>var cover = {{ replace .Params.cover "\"" "" }};var backcover = {{ replace .Params.cover_bis "\"" "" }};</script>
            </a>
        </div>
        <div class="flex-2-cols__col ctnt">
            <h2 class="sup-title">N°{{ .Params.num }} / Avril-Mai-Juin 2024
            </h2>
            <h3>Dans ce numéro, <em>on vous emmène :</em></h3>
            {{/*  <p>Dans ce numéro automne-hiver d’Imagine, on vous emmène :</p>  */}}
            {{
                .Params.home_description
            }}

            <br>
                <a class="btn" href="/numero-en-cours/">Découvrir le numéro</a>
        </div>
    </div>
    {{ end }}
    
</section>
<section class="page-section qui ctnt" style="background-size: contain;
background-position: center;
background-repeat: no-repeat;
background-color: white;">
    <h2 class="sup-title">Imagine LE MEDIA, L'AGENCE
    </h2>
    <h3>QUI <em>NOUS</em> SOMMES</h3>
<div class="flex-2-cols cw" style="max-width:1280px">
    <div class="flex-2-cols__col ctnt" style="text-align:center;">


        <img src="https://res.cloudinary.com/drg3m95yg/image/upload/f_auto,q_80,w_300//uploads/logoblue.jpg" width="225">
        <p>
            <strong>Imagine, le média</strong>, c’est un magazine trimestriel belge et libre ainsi qu’une plateforme digitale qui défendent un journalisme d’impact, critique et constructif, vivant et prospectif.


        </p>

        <a class="btn" href="/notre-projet/">En savoir plus</a>
    </div>
    <div class="flex-2-cols__col ctnt" style="text-align:center;">

        <img src="https://res.cloudinary.com/drg3m95yg/image/upload/f_auto,q_80,w_300//uploads/logocoop.jpg" width="225">
        <p>
            <strong>Imagine COOP,</strong> c’est une coopérative à finalité sociale, avec une agence de services qui propose des prestations à la carte (animation, outils pédagogiques, formation…).          </p>
    
            <a class="btn" href="/coop/rejoindre">En savoir plus</a>
        </div>
    </div>
</div>
</section>
    {{ partial "quote.html" . }}
    <section class="home-section-one section-2-cols bande">
    <img src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_673/{{ .Params.section_decouvrir.img }}" />
        <div class="cw">
            <div class="flex-2-cols__col ctnt">
                <h2 class="sup-title">À DECOUVRIR DANS LE N°160
                </h2>
                <h3>{{ .Params.section_decouvrir.section_title | markdownify }}</h3>
                <p>{{ .Params.section_decouvrir.text | markdownify }}</strong>

                <ul>
                </ul>
                    <a class="btn" href="/numero-en-cours/">Découvrir le numéro</a>
            </div>
            
        </div>
    </section>
{{/*  <section class="home-section-one section-2-cols">
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col">
            <img
            src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_470/{{ .Params.section_one.img }}"
            alt=""
            width="470"
            height="547"
            role="presentation"
            loading="lazy">
        </div>
        <div class="flex-2-cols__col">
            <h3>{{ .Params.section_one.title | safeHTML }}</h3>
            <p>Dans ce numéro automne-hiver d’Imagine, on vous emmène dans l’école du futur, sur les traces des trafiquants d’oiseaux, en Lorraine (où l’on cherche de l’hydrogène naturel dans d’anciennes mines de charbon), au Mozambique (frappé par les cyclones à répétition), au centre neuro-psychiatrique de Dave (Namur) qui développe un projet de musicothérapie, au Groupe Santé Josaphat pour parler vie affective et sexuelle, à la rencontre de l’écrivain Douglas Kennedy, du cinéaste Baloji et de l’activiste française Sanaa Saitouli (Banlieues climat)… </p>
            <a href="{{ .Params.section_one.btn_link }}" class="btn">{{ .Params.section_one.btn_text }}</a>
        </div>
    </div>
</section>  */}}



{{/*  <section class="home-section-two">
    <h2 class="section-title left margin">{{ .Params.section_two.section_title }}</h2>
    {{ $items := first 8 (where $.Site.RegularPages.ByDate.Reverse "Section" "libre-acces") }}
    {{ partial "slider.html" (dict "items" $items "ctx" .) }}
    <p><a href="{{ .Params.section_two.btn_link }}" class="btn home-section-two__btn-all">{{ .Params.section_two.btn_txt }}</a></p>
</section>  */}}


<section class="home-section-one section-2-cols">
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col rgt">
            <img
            src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_470/{{ .Params.section_digital.img }}"
            alt=""
            width="470"
            height="547"
            role="presentation"
            loading="lazy">
        </div>
        <div class="flex-2-cols__col ctnt" >
            <h2 class="sup-title">{{ .Params.section_digital.title | markdownify}}
            </h2>
            <h3>{{ .Params.section_digital.section_title | markdownify}}</h3>
            {{/*  <p>Dans ce numéro automne-hiver d’Imagine, on vous emmène dans l’école du futur, sur les traces des trafiquants d’oiseaux, en Lorraine (où l’on cherche de l’hydrogène naturel dans d’anciennes mines de charbon), au Mozambique (frappé par les cyclones à répétition), au centre neuro-psychiatrique de Dave (Namur) qui développe un projet de musicothérapie, au Groupe Santé Josaphat pour parler vie affective et sexuelle, à la rencontre de l’écrivain Douglas Kennedy, du cinéaste Baloji et de l’activiste française Sanaa Saitouli (Banlieues climat)… </p>  */}}
            {{ .Params.section_digital.text | markdownify}}
            <a href="{{ .Params.section_digital.btn_link}}" class="btn" target="_blank">{{ .Params.section_digital.btn_text}}</a>
        </div>

    </div>
</section>

{{/*  <section class="home-section-three section-2-cols">
    <h2 class="section-title right margin">{{ .Params.section_three.section_title }}</h2>
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col">
            <img
            src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_470/{{ .Params.section_three.img }}"
            alt=""
            width="470"
            height="352"
            role="presentation"
            loading="lazy">
        </div>
        <div class="flex-2-cols__col">
            <p>{{ .Params.section_three.text | markdownify }}</p>
            <a href="{{ .Params.section_three.btn_link }}" class="btn">{{ .Params.section_three.btn_text }}</a>
        </div>
    </div>
</section>  */}}

{{ partial "s-abonner.html" . }}

{{ end }}
