{{ define "main" }}

<section class="home-header page-header">
    {{ range first 1 (where $.Site.RegularPages.ByDate.Reverse "Section" "numeros") }}
        <div class="flex-2-cols cw">
            <div class="flex-2-cols__col home-header__left">
                <p class="home-header__numero"><strong>n°{{ .Params.num }}</strong> / {{ .Params.period }}</p>
                <h1 class="home-header__title page-header__title">Clarifier les faits, libérer les idées et les esprits</h1>
                <p class="home-header__short-description">116 pages + un cahier spécial Covid-19 de 42 pages, 
« Changer d’ère »</p>
            </div>
            <div class="flex-2-cols__col home-header__right">
                <a class="home-header__img" href="/numero-en-cours">
                    <img id="cover" src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_673/{{ .Params.cover }}" alt="Couverture du numéro {{ .Params.num }}">
                    <script>var cover = {{ replace .Params.cover "\"" "" }};var backcover = {{ replace .Params.cover_bis "\"" "" }};</script>
                </a>
            </div>
        </div>
    {{ end }}
    <div class="home-header__discover-btn">
        <a class="btn" href="/numero-en-cours">Découvrir le numéro</a>
    </div>
</section>

<section class="home-section-one section-2-cols">
    <h2 class="section-title right">{{ .Params.section_one.section_title }}</h2>
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col">
            <img src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_470/participatf_bpn9lr.jpg" alt="les 6 territoires" loading="lazy">
        </div>
        <div class="flex-2-cols__col">
            <h3>{{ .Params.section_one.title | safeHTML }}</h3>
            <p>{{ .Params.section_one.text | safeHTML }}</p>
            <a href="{{ .Params.section_one.btn_link }}" class="btn">{{ .Params.section_one.btn_text }}</a>
        </div>
    </div>
</section>

<section class="home-section-two">
    <h2 class="section-title left margin">{{ .Params.section_two.section_title }}</h2>
    {{ $items := first 8 (where $.Site.RegularPages.ByDate.Reverse "Section" "libre-acces") }}
    {{ partial "slider.html" (dict "type" "libre-acces" "items" $items) }}
    <p><a href="{{ .Params.section_two.btn_link }}" class="btn home-section-two__btn-all">{{ .Params.section_two.btn_txt }}</a></p>
</section>

<section class="home-section-three section-2-cols">
    <h2 class="section-title right margin">{{ .Params.section_three.section_title }}</h2>
    <div class="flex-2-cols cw">
        <div class="flex-2-cols__col">
            <img src="{{ .Site.Params.cloudinary_url }}f_auto,q_80,w_470/ordiimagine_xf4rmd.png" loading="lazy">
        </div>
        <div class="flex-2-cols__col">
<!--
            <h3>{{ .Params.section_three.title | safeHTML }}</h3>
-->
            <p>Pour les abonnés à notre version numérique (PDF + bonus), découvrez notre carte interactive inédite des luttes environnementales en Belgique, un grand entretien de l'économiste Geneviève Azam, un reportage à la Ferme La Clarine... et bien d'autres avantages !</p>
            <a href="{{ .Params.section_three.btn_link }}" class="btn">{{ .Params.section_three.btn_text }}</a>
        </div>
    </div>
</section>

{{ partial "s-abonner.html" . }}

{{ end }}