/*
* FOOTER
*/

.site-footer {
    position:relative;
    padding:$su*3 $su;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*5 $su*2;
    }
}

.site-footer__inner {
    display:flex;
    flex-direction: column;
    align-items:center;

    @media screen and (min-width:$bp-s) {
        flex-direction: row;
        justify-content: space-between;
    }

    * {
        font-size: 0.9rem;
        margin:0;
    }
}

.site-footer__inner__col {

    &--left {
        order:2;
        margin-top:$su*2;

        @media screen and (min-width:$bp-s) {
            order:-1;
            margin-top:0;
        }

        a {
            padding: 0.2em 0.5em 0.2em 0;

            img {
                transform: scale(1);
                transition: transform 200ms ease-out;
            }

            &:hover, &:focus {
                
                img {
                    transform: scale(1.2);
                }
            }

            &:active {
                
                img {
                    transform: scale(1);
                }
            }
        }
    }

    &--right {
        text-transform: uppercase;

        p:first-of-type {
            font-size:0.62rem;
            margin-bottom:$su/2;
        }

        a {
            display: inline-block;
            position: relative;
            font-weight: bold;
            text-decoration: none;
            color:$txt-color;
            font-size: 0.8rem;

            &:after {
                content:'';
                display:block;
                position: absolute;
                bottom:-0.4em;
                left:0;
                height:2px;
                width:100%;
                background-color:$pink;
                opacity:1;
                transition:opacity 200ms ease-out;
            }

            &:hover, &:focus {

                &:after {
                    opacity:0;
                }
            }

            &:active {

                &:after {
                    opacity:1;
                }
            }
        }
    }
}

.site-footer__social {
    margin-bottom:$su/2;

    a {
        display:inline-block;
        text-decoration: none;
        margin-right:$su*4;

        &:last-of-type {
            margin-right: 0;
        }
    }

    @media screen and (max-width: ($bp-s - 1)) {
        display:flex;
        justify-content: center;
    }
}

#top-btn {
    position:fixed;
    right:$su;
    bottom:$su;
    padding: 0 8px;
    text-decoration: none;
    color:#ADADAD;
    z-index:30;
    transform:translateY(0px);
    transition: color 150ms ease-out, transform 150ms ease-out;

    &:hover, &:focus {
        transform:translateY(-3px);
        color:$green;
    }

    &:active {
        transform:translateY(0px);
        color:initial;
    }
}