/*
* HEADER
*/

.site-header {
    display:flex;
    align-items:center;
    justify-content: space-between;
    top:$su*3;
    left:50%;
    height:50px;
    width:100%;
    max-width: 1420px;
    margin:0;
    padding:0 $su;
    transform:translateX(-50%);

    @media screen and (min-width:$bp-s) {
        padding:0 $su*2;
    }

    @media screen and (min-width:$bp-l) {
        padding:0 $su*4;
    }
}

.site-logo {
    width:100%;
    max-width: 200px;

    @media screen and (min-width:$bp-l) {
        max-width: 258px;
    }

    img {
        width:100%;
    }
}

.site-header__subscribe {

    @media screen and (max-width:($bp-s - 1)) {
        display:none !important;
    }
}