/*
* HEADER
*/

.site-header {
    position:absolute;
    display:flex;
    align-items:center;
    top:$su*3;
    left:50%;
    height:50px;
    width:100%;
    margin:0;
    padding:0 $su;
    transform:translateX(-50%);
    z-index:50;

    @media screen and (min-width:$bp-s) {
        padding:0 $su*2;
    }

    @media screen and (min-width:1400px) {
        padding:0 $su*4;
        justify-content: space-between;
    }
}

.site-logo {
    width:100%;
    max-width: 200px;
    position: relative;
    z-index:20;

    @media screen and (min-width:$bp-l) {
        max-width: 10rem;
    }

    img {
        width:100%;
    }
}

.site-header__subscribe {
    margin-left:auto;

    @media screen and (max-width:($bp-l - 1)) {
        display:none !important;
    }

    @media screen and (min-width:1400px) {
        margin-left:0;
    }

    &:hover, &:focus {
        background-color: transparent;
    }
}