di.home {
  
    .site-header {
        position: absolute;
        z-index:50;
    }
}

$bp-cover : 1363px;

.home-header {

    .home-header__right {
        position: relative;
        z-index: 2;
    }

}

.home-header__numero {
    color:$turquoise;
}

.home-header__title {
    color:white;
    max-width: 12em;
    font-size: 2.4rem;
    margin:0;

    @media screen and (min-width:1600px) {
        width:640px;
    }
}

.home-header__short-description {
    color:white;
    max-width: 26em;
    font-size: 1rem;
}

.home-header__left {
    padding:$su;
    width:100%;
    
    @media screen and (min-width:$bp-xs) {
        padding:$su*2;
        
        &.flex-2-cols__col:first-of-type {
            margin-right:0;
        }
    }
    
    @media screen and (min-width:$bp-l) {
        padding:0 $su;
        width:calc(50% - #{$su * 5});
        
        &.flex-2-cols__col:first-of-type {
            margin-right:0;
        }
    }

    @media screen and (min-width:$bp-l + ($su*8)) {
        padding:0;
    }
}

.home-header__right {
    width: 100%;
    padding-bottom: 18px;
    margin-top:0;
    
    @media screen and (min-width:$bp-l) {
        max-width: 670px;
        background-image:url('../assets/img/book-shadow.png');
        background-repeat: no-repeat;
        background-size: 267px 135px;
        background-position: right 0px bottom 6px;
        transform: translateX(100px) scale(0.8);
    }

    @media screen and (min-width:1320px) {
        transform:translateX(40%) scale(0.9);
    }

    @media screen and (min-width:1600px) {
        transform:translateX(40%) scale(1);
    }
}

.home-header__img {
    display:block;
    position: relative;
    width:100%;
    padding:$su;
    text-align: center;

    img {
        box-shadow: 0px 0px 20px -10px #000;
        max-width:430px;
        width:100%;
    }
    
    @media screen and (min-width:$bp-l) {
        text-align: left;
        padding:0;
        width:449px;
        transform: perspective(860px) rotateY(-14deg);

        img {
            box-shadow: none;
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 4px;
            right: 1px;
            bottom: 0;
            background-color: #bdbdbd;
            background-image:url('../assets/img/book-pages.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left top;
            z-index: -1;
            transform: perspective(430px)rotateY(32deg);
            width: 20px;
            height: 550px;
            z-index:-1;
        }
    }
}

.home-header__discover-btn {
    display:inline-block;
    position: relative;
    z-index:1;
    width: 100%;
    padding:$su*3 0;
    padding-left:$su*5;
    background: white;
    
    @media screen and (min-width:$bp-l) {
        display:flex;
        align-items:center;
        position:absolute;
        bottom:-10px;
        padding-left:$su*7;
    }
    
    &:before {
        content:'';
        position: absolute;
        bottom: calc(60px + 0.6em);
        left:-50px;
        height:1px;
        width:$su*6 + 5px;
        background-color:$turquoise;

        @media screen and (min-width:$bp-l) {
            left:-5px;
        }
    }
    
    .btn {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        color: $green;
    
        &:after {
            background-image:url('../assets/img/arrow-right-turquoise.svg');
            top: 50%;
            width: 12px;
            height: 18px;
            right:-1.2em;
            transform:translateY(-50%);
        }
    }

}

.home-section-one {
    position: relative;
    padding:$su*5 $su 0;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*5 $su*2;
    }

    .section-title {
        color:$green;
    }
}

.home-section-two {
    position: relative;
    padding:$su*5 0;
    overflow: hidden;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*5 0 0 $su*5;
        background: linear-gradient(
            90deg,
            white 0%,
            white 50%,
            $yellow 50%,
            $yellow 100%
        );
        background-position: 0 $su*16;
        background-repeat: no-repeat;
    }

    
    .section-title {
        color:$yellow;
        margin-left:$su;
    }

    &__btn-all {
        margin-top:$su*3;
        margin-left:$su;

        @media screen and (min-width:$bp-m) {
            margin-top:$su*5;
        }

        @media screen and (min-width:$bp-l) {
            margin-left:$su*4;
        }
    }
}

.home-section-three {
    position: relative;
    padding:0 0 $su*4 0;
    
    @media screen and (min-width:$bp-l) {
        padding:$su*10 0 0 0;
        background-image: linear-gradient(
            180deg,
            white 0%,
            white 92%,
            $pink 92%,
            $pink 100%
        );
    }
    
    .section-title {
        color:$pink;
        top:$su*10;
        margin-left:$su;
    }

    .flex-2-cols {

        @media screen and (max-width: ($bp-l - 1) ) {
            max-width: calc(100% - #{$su * 2});
            margin-right:auto;
            margin-left:auto;
        }
    }
}