/*
* MODULES
*/

img {
    max-width: 100%;
    height:auto;
}

picture {
    display:block;
}

*[data-color="monde"] {
    background-color:$yellow;
}
*[data-color="découvrir"] {
    background-color:$green;
}
*[data-color="actualité"] {
    background-color:$pink;
}

.btn {
    display:inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    color:$txt-color;
    text-decoration: none;

    &:hover, &:focus {

        &:after {
            transform:translate(3px, -50%);
        }
    }

    &:active {
        
        &:after {
            transform:translate(0px, -50%);
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -1.2em;
        background-image: url(../assets/img/arrow-right.svg);
        background-repeat: no-repeat;
        width: 12px;
        height: 18px;
        transform:translate(0px, -50%);
        transition:transform 150ms ease-out;
    }

    &--square {
        display:block; 
        padding:0.5em 2em;
        color:white;
        text-transform: none;
        border:2px solid transparent;
        transition:color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;
        
        &:after {
            display:none;
        }
        
        &:hover, &:focus {
            background-color:transparent;
        }
    }
    
    &--green {
        background-color:$green;
        
        &:hover, &:focus {
            color:$green;
            border-color:$green;
        }
    }

    &--red {
        background-color:$red;
        color:white;
        
        &:hover, &:focus {
            color:$red;
            background-color:transparent;
            border-color:$red;
        }
    }

    &--reverse {
        transform:translateX(1em);

        &:after {
            left: -1.2em;
            transform:translate(0px, -50%) rotate(180deg);
        }

        &:hover, &:focus {
           
           &:after {
               transform:translate(-3px, -50%) rotate(180deg);
           }
        }
    }
}

.list--no-style {
    list-style:none;
}

.hide {
    display:block;
    top:0;
    position: absolute;
    left:-99999px;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}