
.site-nav__inner {
    position:fixed;
    left: 0;
    width: 100%;
    height: 100dvh;
    top: -63px;
    left:-9999px;
    transform: translateX(-200vw);
    padding:0;
    background-color: $main;
    box-shadow: 2px 2px 20px -10px #000;
    transition: transform 300ms ease-in-out;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width:$bp-l) {
        transition: none;
        transform: none;
        position: static;
        width:auto;
        max-width: 100%;
        height:auto;
        padding:0;
        background-color: transparent;
        box-shadow: none;
    }
}

.site-nav__list li:last-child::before {
    content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNlZTVhMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9ImJ1dHQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik01LjUyIDE5Yy42NC0yLjIgMS44NC0zIDMuMjItM2g2LjUyYzEuMzguMCAyLjU4LjggMy4yMiAzIi8+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMCIgcj0iMyIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjEwIi8+PC9zdmc+);
    margin-right: 4px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 2px;

    @media screen and (max-width:991px) {
        display: none;
    }
}

.site-nav__list {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100%;
    margin:0;
    padding:0 $su*2;
    z-index: 15;

    @media screen and (min-width:$bp-l) {
        flex-direction: row;
        align-items:center;
        justify-content: flex-end;
        box-shadow: none;
        padding:0 $su;
    }

    @media screen and (min-width:1400px) {
        padding:0 $su*2;
    }

    li {
        list-style: none;

        &:last-child {

            .site-nav__link {
                margin-right: 0;
            }
        }
    }
}

.site-nav__link {
    display:block;
    position: relative;
    margin:0 0 15px 0;
    padding:0.5em;
    line-height: 1;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    transition: color 150ms ease-out;

    @media screen and (min-width:$bp-l) {
        display:inline-block;
        font-size: 0.78rem;
        padding:0.5em 0;
        margin-right: $su;
        margin-bottom:0;
        text-transform: initial;
    }


    &:hover,
    &:focus,
    &.active {
        color:red;
    }
}

.site-nav__list__subscribe_btn {
    display:block;
    width:100%;
    margin-top: auto;
    padding:1.5em 2em;
    border:1px solid $turquoise;
    background: $turquoise;
    text-transform: uppercase;
    text-align: center;
    letter-spacing:1px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: all 200ms ease-out;
    position: absolute;
    bottom: 0;
    
    &:hover, &:focus {
        background-color: transparent;
        color:$turquoise;
    }

    @media screen and (min-width:$bp-l) {
        display: none;
    }
}

.site-nav__checkbox {
    position: absolute;
    top:0;
    right:26px;
    width: 40px;
    height: 30px;
    display: block;
    opacity: 0;
    z-index:20;
    cursor:pointer;

    &:hover ~ .site-nav__button .nav-btn-0, &:focus ~ .site-nav__button .nav-btn-0 {
        transform:scale(1.05);
    }

    @media screen and (max-width:($bp-l - 1)) {

        &:checked ~ .site-nav__inner {
            left:-1px;
            transform:translateX(0);
        }

        &:checked ~ .site-nav__button .site-nav__button__open {
            display:none;
        }

        &:checked ~ .site-nav__button .site-nav__button__close {
            display:block;
        }

    }

    @media screen and (min-width:$bp-l) {
        display:none;
    }
}

.site-nav__button {
    position: absolute;
    top:0;
    right:$su;
    border: none;
    background: none;
    z-index:19;
    
    @media screen and (min-width:$bp-l) {
        display:none;
    }

    &__close {
        display:none;
        width:30px;
        height:30px;
    }
}

