.site-nav__list {
    display:block;
    position:fixed;
    left: 0;
    width: 100%;
    max-width: 50vw;
    min-width: 240px;
    height: 200vh;
    top: -($su*3);
    background-color: $turquoise;
    margin:0;
    padding:$su*6 $su*2;
    z-index: 15;
    box-shadow: 2px 2px 20px -10px #000;
    left:-120vw;
    transform-origin: right top;
    transition: left 300ms ease-in-out;

    @media screen and (min-width:$bp-l) {
        position: static;
        display:flex;
        align-items:center;
        justify-content: flex-end;
        box-shadow: none;
        transform:none;
        width:auto;
        max-width: 100%;
        height:auto;
        background-color: transparent;
    }

    li {
        list-style: none;

        &:last-child {

            .site-nav__link {
                margin-right: 0;
            }
        }
    }
}

.site-nav__link {
    display:inline-block;
    position: relative;
    margin-right: $su*2;
    margin-bottom:$su;
    padding:0.5em 0;
    line-height: 1;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color:white;

    @media screen and (min-width:$bp-l) {
        font-size: 0.9rem;
        margin-bottom:0;
    }

    &:after {
        content:'';
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        background:white;
        height:2px;
        width:100%;
        opacity:0;
        transition:opacity 150ms ease-out;
    }

    &:hover, &:focus {

        &:after {
            opacity:1;
        }
    }
}


.site-nav__checkbox {
    position: absolute;
    top:0;
    right:26px;
    width: 40px;
    height: 30px;
    display: block;
    opacity: 0;
    z-index:2;
    cursor:pointer;

    &:hover ~ .site-nav__button .nav-btn-0, &:focus ~ .site-nav__button .nav-btn-0 {
        transform:scale(1.05);
    }

    @media screen and (max-width:($bp-l - 1)) {

        &:checked ~ .site-nav__list {
            left:0;
        }
    }

    @media screen and (min-width:$bp-l) {
        display:none;
    }
}

.site-nav__button {
    position: absolute;
    top:0;
    right:$su;
    border: none;
    background: none;
    
    @media screen and (min-width:$bp-l) {
        display:none;
    }
}