.page-header {
    position: relative;
    padding-top: $su*7;
    background-color: $green;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index:40;
    
    @media screen and (min-width:$bp-l) {
        padding-top: $su*10;
        background-image: /*url(../assets/img/round.png),*/
        linear-gradient(
            90deg,
            $green 0%,
            $green 80%,
            white 80%,
            white 100%
        ),;
        background-position: /*-100px 160px,*/ 0 0;
        background-repeat: no-repeat, no-repeat;
    }

    @media screen and (min-width:1600px) {
        background-image: /*url(../assets/img/round.png),*/
        linear-gradient(
            90deg,
            $green 0%,
            $green 75%,
            white 75%,
            white 100%
        );
    }
}

.page-header__title {
    text-decoration: none;
    display:block;

    h1 {
        margin:$su 0;
        color:white;
        font-size: 2.4rem;
        line-height: 1;

        @media screen and (min-width:$bp-s) {
            font-size: 4rem;
        }
    }

}

.page-section,
.section-2-cols {

    h3 {
        font-size: 2.4rem;
        line-height: 1;
        margin-top: 0;
        padding-right:$su/2;
    }
    
    p {
        font-size: 1rem;
		line-height: 1.4rem;
    }
    
    .btn {
        margin-top: $su;
    }
}

.section-title {
    font-weight: bold;
    font-size: 1.2rem;
    padding:0;
    transform-origin: center center;
    @include ff-r;

    &.right,
    &.left {
        margin:0 0 $su*2 0;

        &.margin {
            margin:0 $su*2 $su*2 $su*2;
        }

        @media screen and (min-width:$bp-xl) {
            position: absolute;
            margin-bottom:0;
            writing-mode: vertical-rl;
            transform:rotate(180deg);
        }
    }

    &.right {
        text-align:right;

        @media screen and (min-width:$bp-xl) {
            right:$su*3;
        }
    }

    &.left{

        @media screen and (min-width:$bp-xl) {
            left:$su*2;
        }
    }
}

@import
    "partials/pages/e-magine",
    "partials/pages/notre-projet",
    "partials/pages/numero-en-cours",
    "partials/pages/contact",
    "partials/pages/le-projet-imagine",
    "partials/pages/categories";