.single-e-magine {

    .site-header {
        position:absolute;
        z-index:4;
    }
}

.single-e-magine__header {
    padding: $su*7 $su 0 $su;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 90vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (min-width:$bp-s) {
        padding: $su*7 $su*2 0 $su*2;
    }

    &:after {
        content:'';
        display:block;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-color:black;
        opacity:0.4;
        z-index:2;
    }
}

.single-e-magine__category {
    display: block;
    position: relative;
    max-width: $aw - (2 * ($su *2));
    margin:auto auto $su/2 0;
    z-index:3;

    @media screen and (min-width:$bp-m) {
        margin: auto auto $su auto;
        width: 100%;
    }

    
    p {
        display:inline-block;
        margin:0;
        padding:.5em 1.75em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.9rem;
        color:white;
    }
}

.single-e-magine__title {
    position: relative;
    width:100%;
    max-width: $aw - (2 * ($su *2));
    margin: 0 auto;
    @include ff-t;
    font-size: calc(1rem + 5vw);
    color:white;
    word-break: break-word;
    z-index:3;

    @media screen and (min-width:$bp-l) {
        font-size: 4rem;
    }
}

.single-e-magine__more-img {
    position: relative;
    display:flex;
    justify-content: center;
    width:15px;
    margin:auto 8px $su auto;
    z-index: 3;
    transform:translateY(0px);
    transition:transform 150ms ease-out;

    @media screen and (min-width:$bp-s) {
        margin-right:-13px;
    }

    @media screen and (min-width:$bp-l) {
        justify-content: flex-end;
        margin-bottom:$su*2;
    }

    &:hover, &:focus {
        transform:translateY(3px);
    }

    &:active {
        transform:translateY(0px);
    }
}

.single-e-magine__date {
    display: block;
    max-width: $aw;
    margin: 0 auto;
    padding: $su*2 $su 0 $su;
    font-size: 1.2rem;
    font-weight: bold;
    color:$article-light;
    background-color:white;
    
    @media screen and (min-width:$bp-s) {
        margin: $su*2 auto;
        padding: $su*3 $su*2 0 $su*2;
    }

    &:before {
        content:'';
        position:absolute;
        left:0;
        height:1px;
        width:25vw;
        margin-top: 0.6em;
        background-color:$article-light;
        z-index: -1;
    }
}

.single-e-magine__content {
    overflow-x:hidden;
	max-width: 1000px;
	margin: 0 auto;

    > * {
        max-width: $aw;
        margin:$su/4*5 auto;
        padding:0 $su;

        @media screen and (min-width:$bp-s) {
            padding:0 $su*2;
        }
    }

    .chapeau {
        margin-bottom:$su*4;
    }

    .chapeau > * {
        @include ff-t;
        font-size: 1.6rem;
        margin-bottom:0;
        line-height:1.3;
    }

    h2 {
        font-size:2rem;
        margin-top:$su*4;

        &:first-of-type {
            margin-top:0;
        }
    }

    img {
        display:block;
        width:100%;
        height:auto;
        padding:0;
    }

    blockquote {
        display:block;
        position: relative;
        width:$aw*0.6;
        min-width: 240px;
        max-width: 100%;
        margin: $su*3 auto $su*3 $su;
        @include ff-t;
        padding-left:$su;
        padding-right:$su*2;

        @media screen and (min-width:$bp-s) {
            margin:$su*4 auto;
            padding-right:0;
        }

        &:before {
            content:'';
            position: absolute;
            display:block;
            top:0.3em;
            bottom:0.2em;
            left:0;
            background-color:$article-light;
            width:4px;
        }

        p {
            margin:0;
            padding:0;
            line-height: 1.8;
        }
    }

    iframe {
        width:100%;
    }

    p {
        line-height: 1.3;
    }

}

.full-width-img {
    margin:$su*4 auto;

    @media screen and (min-width:$bp-s) {
        padding:0 $su*2;
    }
}

.half-width-img-txt {
    display:block;
    position: relative;
    margin:$su*4 0;
    padding:0;
    max-width: 100%;
    height:auto;
    
    @media screen and (min-width:$bp-m) {
        display:flex;
        margin:$su*6 0;
    }

    img {
        width:100%;
        height:auto;
        object-fit: contain;
        
        @media screen and (min-width:$bp-m) {
            position: relative;
            z-index:1;
            width:50%;
        }
    }

    figcaption {
        display:block;
        max-width: 32em;
        height:auto;
        margin-top:$su;
        margin-left:25%;
        padding:0 $su;
        @include ff-t;
        font-size:1.2rem;
        line-height: 1.8;
        background-color:white;
        
        &:before {
            content:'';
            display:block;
            position: absolute;
            left:0;
            height:1px;
            width:100%;
            margin-top:1em;
            z-index:-1;
            background-color:$article-light;
        }
        
        @media screen and (min-width:$bp-m) {
            position: relative;
            width:50%;
            display: flex;
            justify-content: center;
            padding: $su*4 $su*4 $su*4 0;
            margin-left:$su*4;
            font-size:1.45rem;
            z-index:2;

            &:before {
                left: -$su*7;
                width:$su*6;
            }
        }
    }
}

.single-e-magine__back-to-list {
    margin:$su*4 auto;
}

.single-page {

    h1 {
        color:white;
        font-size: 2.4rem;
        padding-top:$su*2;
        padding-right: $su*3;
        padding-bottom:$su*2;
    }

    .main-content {
        margin-top:$su*4;
        margin-bottom:$su*6;

        h2 {
            font-size:1.4rem;
            margin-top:$su*4;
    
            &:first-of-type {
                margin-top:0;
            }
        }

        p {
            line-height: 1.3;
        }
    }
}