h1, h2, h3, h4 {
    @include ff-t;
    margin-top:0.75em;
    margin-bottom:0.5em;
    line-height:1.1;
    font-weight: normal;
}

p, ul {
    margin-bottom:0.5em;
    font-size:1rem;
}

strong {
    font-weight:bold;
}

.text-underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.ff-r {
    @include ff-r;
}

.ff-b {
    @include ff-b;
}

.ff-t {
    @include ff-t;
}